--extra-index-url https://download.pytorch.org/whl/cpu
torch
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-chroma==0.1.4
langchain-huggingface<0.1
langchain-openai<0.2
chromadb==1.5.0
pydantic
fastapi
uvicorn
python-dotenv
sentence-transformers
